/* @import "catppuccin.css"; */

* {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  min-height: 0;
  color: @text;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
  background-color: @base;
  padding: 12px 8px;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @base;
  padding: 8px 12px;
}
